.container {
  /* display: flex;
  justify-content: space-between;
  margin: 20px 0px 8px;
  padding: 5px 0 0;
  max-width: 1000px;
  align-self: center; */
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px 8px;
  padding: 5px 0 0;
  align-items: center;
}

.container a {
  background-color: var(--accent-color);
  color: var(--white);
  font-size: 18px;
  border-radius: 50px;
  margin: 0 5px;
  text-decoration: none;
  padding: 0px 4px;
  transition: .3s all ease-in-out;
}

.container a:hover {
  color: var(--accent-color);
  background-color: var(--secondary-color);
  border: none;
  box-shadow: 1px 3px var(--white);
}

.container a.active {
  background-color: var(--secondary-color);
  border: 2px solid var(--white);
}

.inactive {
  border: none;
}

@media screen and (max-width: 400px) {
  .container {
    flex-direction: column;
    gap: 10px;
  }
}