.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  text-transform: uppercase;
  color: var(--accent-color);
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 30px;
  border: 2px solid white;
  border-radius: 26px 106px 26px 65px;
  box-shadow: 10px 10px 10px hsl(0 0% 100%);
  color: var(--white);
  background-color: var(--accent-color);

}

.card img {
  width: 350px;
  border-radius: 26px 78px;
  margin-right: 20px;
  aspect-ratio: 4/3;
}