form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

label {
  margin: 10px 0;
  font-weight: bold;
}

input {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container {
  display: flex;
  gap: 1em;
  align-items: center;
}

.input-container input {
  flex: 1;
  width: 100%;
}

.error {
  color: red;
}

.btn {
  background-color: var(--accent-color);
  color: var(--white);
  cursor: pointer;
  transition: .3s all ease-in;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--accent-color);
}

.btn:disabled {
  cursor: default;
  filter: brightness(.55);
}

.svg-background {
  width:150px;
  height: 150px;
  position: absolute;
  fill: var(--accent-color);
  filter: blur(2px);
  transition: all .3s ease-in-out;
}

.svg-left {
  top: 40%;
  left: 10%;
}

.svg-right {
  top: 25%;
  right: 15%;
}

.svg-left:hover, .svg-right:hover {
  fill: var(--secondary-color);
  filter: blur(0);
}

@media screen and (max-width: 400px) {
  .svg-background {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .svg-left {
    top: 40%;
    left: 1%;
  }

  .svg-right {
    top: 25%;
    right: 1%;
  }
}