form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

label {
  margin: 10px 0;
  font-weight: bold;
}

input {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container {
  display: flex;
  gap: 1em;
  align-items: center;
}

.input-container input {
  flex: 1;
  width: 100%;
}